<%= form_for @string, html: { class: "form-inline" } do |f| %>
    <div class="form-group">
        <%= f.label :original, 'New String:' %>
        <%= f.text_field :original, class: 'form-control', required: true %>
    </div>
    <%= f.submit 'Process', class: 'btn btn-primary' %>
<% end %>

<h2>String Inventory</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Input String</th>
            <th>Hashed Output</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @strings.each do |string| %>
        <tr>
            <td><%= string.created_at.strftime('%-m/%-d/%Y') %></td>
            <td><%= string.original %></td>
            <td><%= string.hashed %></td>
            <td class="delete">
            <%= link_to hashed_string_path(string), method: :delete do %>
                <%= fa_icon "trash 1.5x" %>
            <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
